---
import MaxWidthWrapper from '../../components/MaxWidthWrapper.astro'
import PageLayout from '../../layouts/PageLayout.astro'

const title = '@photosbydrevan'
const description =
  'Capturing this beautiful universe one photo at a time. 📸 Come check out my photos and follow me on social media. 🤩'
---

<PageLayout title={title} description={description}>
  <MaxWidthWrapper as="main" class="flex justify-center items-center h-screen">
    <article class="max-w-4xl">
      <h1 class="text-2xl text-purple-300">@photosbydrevan</h1>
      <h2 class="text-6xl text-white leading-[1.1em] font-medium">
        Capturing this <span class="text-cyan-400 font-semibold"
          >beautiful universe</span
        > one photo at a time
      </h2>
    </article>
  </MaxWidthWrapper>
</PageLayout>
