---
import BaseLayout from '../../layouts/BaseLayout.astro'

const title = 'Photos by Andre van Tonder'
const description =
  "Hey, check out these photos I've taken. I love traveling to new locations to find photos that inspire me and I can share with you!"
---

<BaseLayout title={title} description={description}>
  <h1>Photos by Andre van Tonder</h1>
  <p class="mt-[200rem]">Test</p>
</BaseLayout>
