/* General */
pre[class*="language-"],
code[class*="language-"] {
  @apply text-gray-300 text-xl text-left whitespace-pre break-normal font-mono;
  tab-size: 4;
  hyphens: none;
}
pre[class*="language-"] {
  @apply p-4 my-2 overflow-auto bg-gray-800 rounded-lg;
}
:not(pre) > code[class*="language-"] {
  padding: .1em .3em;
  border-radius: .3em;
  color: #db4c69;
  background: #f9f2f4;
}
/* Filename */
.filename {
  @apply absolute right-0 top-0 mx-2 my-1 text-gray-100 text-xl font-mono;
}
/* Tokens */
.namespace {}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500;
}
.token.punctuation {
  @apply text-blue-300;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-pink-500;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-teal-500;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-blue-300;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-purple-500;
}
.token.function {
  @apply text-blue-500;
}
.token.regex,
.token.important,
.token.variable {
  @apply text-emerald-500;
}
.token.important,
.token.bold {
  @apply font-bold;
}
.token.italic {
  @apply italic;
}
.token.entity {
  cursor: help;
}
/* Line Highlighting */

// Not tested yet

pre[data-line] {
  @apply relative;
}
pre[class*="language-"] > code[class*="language-"] {
  @apply relative z-10;
}
.line-highlight {
  @apply absolute left-0 right-0 px-0 mt-4 z-0 pointer-events-none whitespace-pre;
  padding-top: inherit;
  padding-bottom: inherit;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  line-height: inherit;
}
