---
import Logo from '../Logo/Logo.astro'

// const { home } = Astro.props
---

<div
  class="fixed top-0 inset-x-0 container mx-auto p-4 flex sm:hidden items-center justify-center z-20"
>
  <Logo theme="dark" />
</div>

<div x-data="{ open: false }" class="relative z-20">
  <button
    x-on:click="open = !open"
    class="fixed bottom-8 right-8 rounded-full border-cyan-400/50 border-2 p-2 text-cyan-400 block sm:hidden z-20"
    type="button"
    aria-label="Open menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-7 h-7"
    >
      <!-- Menu Bar Icon -->
      <path
        x-show="!open"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"></path>
      <!-- X Icon -->
      <path
        x-show="open"
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>

  <div
    x-show="open"
    x-transition:enter="transition-opacity duration-100"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-1"
    x-transition:leave="transition-opacity duration-200"
    x-transition:leave-start="opacity-1"
    x-transition:leave-end="opacity-0"
    class="fixed z-0 inset-0 backdrop-blur-sm backdrop-brightness-50"
  >
  </div>

  <nav
    x-show="open"
    x-transition:enter="transition-transform duration-100 transform"
    x-transition:enter-start="translate-y-full scale-50"
    x-transition:enter-end="translate-0 scale-100"
    x-transition:leave="transition-transform duration-200 transform"
    x-transition:leave-start="translate-0 scale-100"
    x-transition:leave-end="translate-y-full scale-50"
    class="fixed inset-x-0 bottom-0 z-10 rounded-t-lg bg-purple-900 shadow-lg p-8"
  >
    <ul class="flex flex-col space-y-4">
      <li class="text-white font-medium text-xl">
        <a href="https://www.instagram.com/photosbydrevan/">@photosbydrevan</a>
      </li>
      <li class="text-white font-medium text-xl">
        <a href="https://twitter.com/DrevanTonder">twitter</a>
      </li>
      <li class="text-white font-medium text-xl">
        <a href="https://github.com/DrevanTonder">github</a>
      </li>
      <li class="text-white font-medium text-xl">
        <a href="https://www.linkedin.com/in/andre-van-tonder/">linkedin</a>
      </li>
    </ul>
  </nav>
</div>
