---
import Logo from "../Logo/Logo.astro";
---

<nav class="justify-between items-baseline container mx-auto p-4 hidden sm:flex">
  <Logo theme="dark" />

  <ul class="flex space-x-10">
    <li class="text-white font-medium text-2xl">
      <a href="https://www.instagram.com/photosbydrevan/">@photosbydrevan</a>
    </li>
    <li class="text-white font-medium text-2xl">
      <a href="https://twitter.com/DrevanTonder">twitter</a>
    </li>
    <li class="text-white font-medium text-2xl">
      <a href="https://github.com/DrevanTonder">github</a>
    </li>
  </ul>
</nav>