---
import type { Navigation } from '../../navigation'
import Logo from '../Logo/Logo.astro'

const isHome = Astro.url.pathname == '/'

interface Props {
  navigation: Navigation
}

const { navigation } = Astro.props
---

<nav
  class={`absolute top-0 inset-x-0 justify-between items-baseline container mx-auto p-4 hidden sm:flex ${
    isHome ? 'z-20' : ''
  }`}
>
  <a href="/">
    <Logo theme="dark" data-no-emoji={isHome} />
  </a>

  <ul class="flex space-x-10">
    {
      navigation.map((navigationItem) => (
        <li class="text-white font-medium text-2xl" data-no-emoji={isHome}>
          <a {...navigationItem.attrs}>{navigationItem.text}</a>
        </li>
      ))
    }
  </ul>
</nav>
