---
import inlineStyles from '../styles/inline.css?inline'

import type { LayoutProps } from '../layoutProps'

export interface Props extends LayoutProps {
  home?: boolean
}

const { title, description, relativeCanonicalUrl } =
  Astro.props.frontmatter || Astro.props

if (!title) throw new Error('relativeCanonicalUrl is required')
if (!description) throw new Error('relativeCanonicalUrl is required')
if (!relativeCanonicalUrl) throw new Error('relativeCanonicalUrl is required')

const canonicalURL = new URL(relativeCanonicalUrl, Astro.site)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://plausible.io" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap"
    />
    <meta name="description" content={description} />
    <title>{title}</title>
    <script
      defer
      data-domain="drevan.me"
      src="https://plausible.io/js/script.outbound-links.js"
    ></script>
    <link rel="canonical" href={canonicalURL} />
    <style is:inline set:html={inlineStyles}></style>
  </head>
  <body class="h-screen bg-purple-900">
    <slot />
  </body>
</html>
