---
import Navbar from '../components/Navbar/Navbar.astro'
import BaseLayout from './BaseLayout.astro'
import Emoji from '../components/Emoji/Emoji.astro'

import type { MarkdownLayoutProps } from 'astro'
import MaxWidthWrapper from '../components/MaxWidthWrapper.astro'
import type { LayoutProps } from '../layoutProps'

type Props = MarkdownLayoutProps<LayoutProps>

const { frontmatter } = Astro.props
---

<BaseLayout {...frontmatter}>
  <Navbar />
  <Emoji />
  <main class="flex justify-center items-center h-screen z-10 relative">
    <MaxWidthWrapper
      class="prose prose-lg lg:prose-xl prose-invert"
      as="article"
      data-no-emoji-text
    >
      <slot />
    </MaxWidthWrapper>
  </main>
</BaseLayout>
