---
import Navbar from '../components/Navbar/Navbar.astro'
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<BaseLayout title={title} description={description}>
  <Navbar />
  <main
    class="container mx-auto p-4 flex justify-center items-center h-screen z-10"
  >
    <slot />
  </main>
</BaseLayout>
